.developer__inner {
  display: flex;
  flex-wrap: wrap;

  &.overflow {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .developer {
    // margin-right: 20px;
    background-color: green;

    .developer__img {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .developer__info {
      width: 150px;
      text-align: center;
      margin: 0 auto;
      @include line-one;
      // padding-bottom: 40px;
    }
  }
}
@media (max-width: 1200px) {
  .developer__inner {
    justify-content: center;

    .developer {
      margin-right: 0;

      .developer__img {
        width: 100%;
      }
      // .developer__info {
      // }
    }
  }
}
@media (max-width: 800px) {
  .developer__inner {
    margin-top: 70px;
  }
}
